<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="desmume_firmware_language" values="English|Japanese|French|German|Italian|Spanish" default="English"/>
		<setting label="30002" type="select" id="desmume_frameskip" values="0|1|2|3|4|5|6|7|8|9" default="0"/>
		<setting label="30003" type="select" id="desmume_pointer_type" values="relative|absolute" default="relative"/>
		<setting label="30004" type="select" id="desmume_screens_layout" values="main_top_ext_bottom|main_bottom_ext_top|main_left_ext_right|main_right_ext_left" default="main_top_ext_bottom"/>
	</category>
</settings>